# Project Files unneeded by docker
.dockerignore

.git
.gitignore
.github
.clang-format

AUTHORS
CONTRIBUTING.md
CONTRIBUTORS
LICENSE
README.md
docs

# CMake
cmake/docs
cmake/README.md

# CI
ci/README.md
ci/Makefile
#ci/docker
**/Dockerfile
**/Vagrantfile
ci/docs
ci/cache
ci/vagrant

tools/Makefile
tools/**/*.Dockerfile

# Native build
.cache/
.vagrant/
**/__pycache__
build/
build*/
cache/
compile_commands.json
export/

# Editors
.kdev4/
*.kdev4
*.swp
*.user
.vs/
.vscode/
